@import "./mixins";
@import "./breakpoints";
@import "./vars";

.banner {
  @include contentAlignmentMixin();

  padding: 80px 0;

  &__container1 {
    width: 55%;

    h1 {
      font-weight: 600;
      line-height: 4.5rem;
      position: relative;
      z-index: 2;

      span:first-child {
        position: relative;
        z-index: -1;
        color: $secondary;
        margin-left: 20px;

        &::before {
          content: "";
          position: absolute;
          width: 115%;
          height: 115%;
          background-color: $primary;
          transform: rotate(-3deg) translateY(-50%) translateX(-50%);
          top: 50%;
          left: 50%;
          z-index: -1;
        }
      }

      span:last-child {
        position: relative;
        z-index: -2;
      }
    }

    p {
        color: $tertiary;
        font-weight: 300;
        margin-top: 10px;
    }
    
    .banner__buttons {
        @include contentAlignmentMixin(flex-start);
        gap: 25px;
        margin-top: 50px;
    }
  }

  &__container2 {
    width: 45%;
    @include contentAlignmentMixin(flex-end);

    img {
        width: 65%;
        height: auto;
    }
  }
}
