@import "./mixins";
@import "./breakpoints";
@import "./vars";

.carousel {
  &__container {
    background-color: $primary;
    overflow-x: scroll;
    padding: 25px 0;
    margin-bottom: 15px;
    @include contentAlignmentMixin(space-between);
  }

  &__item {
    color: #181a14;
    font-weight: 500;
    list-style: none;
    min-width: fit-content;
    flex: 1;

    @include contentAlignmentMixin(center);
    position: relative;
    p {
      padding: 0 25px;
    }

    &:first-child {
      p {
        padding-left: 0;
      }
    }

    & > div {
      @include contentAlignmentMixin(center);
      left: 100%;
      transform: translateX(-50%);
      position: absolute;
      img {
        width: 17px;
        height: auto;
      }
    }
  }
}
