@import "./mixins";
@import "./breakpoints";
@import "./vars";

.carousel {
  background-color: $primary;
  overflow-y: hidden;
  padding: 25px 0;
  margin-bottom: 25px;

  &__container {
    @include contentAlignmentMixin(space-between);
  }

  &__text-item {
    color: #181a14;
    font-weight: 500;
    list-style: none;
  }

  &__image-item {
    list-style: none;

    img {
      width: 20px;
      height: auto;
    }
  }
}
