@import "./mixins";
@import "./breakpoints";
@import "./vars";

.footer {
  background-color: $altBgColor;
  padding: 80px 0;

  &__contact {
    h5 {
      font-weight: 400;
      width: 100%;
      max-width: 200px;
      color: $secondary;
      margin-bottom: 80px;
    }

    a {
      @include resetLinkStyles();
      border-bottom: 2px solid #ffd700;
      display: inline-block;
      color: #0a142f;
      font-weight: 400;
      padding-bottom: 2px;
      margin-bottom: 20px;
    }
  }

  &__links,
  &__socials {
    a {
      @include resetLinkStyles();
      @include linkStyling();
      @include contentAlignmentMixin(flex-start, center column);
      margin-bottom: 20px;
    }
  }

  &__copyright {
    p {
      margin-top: 60px;
      color: $secondary;
      font-weight: 200;
    }
  }

  &__logo {
    img {
      width: 200px;
      height: auto;
    }
  }

  &__back2top {
    @include contentAlignmentMixin(flex-end);
    a {
      @include resetLinkStyles();

      img {
        width: 50px;
        height: auto;
      }
    }
  }
}

.footer > div {
  display: grid;
  align-items: flex-start;
  .footer__logo {
    grid-area: logo;
  }

  .footer__contact {
    grid-area: contact;
  }

  .footer_copyright {
    grid-area: copyright;
  }

  .footer__links {
    grid-area: links;
    a {
      text-align: center !important;
    }
  }

  .footer__socials {
    grid-area: socials;
  }

  .footer__back2top {
    grid-area: back2top;
  }
  grid-template-areas:
    "logo contact contact links socials back2top"
    "logo contact contact copyright socials back2top";

  @include respondTo(md) {
    justify-content: center;
    text-align: center;

    grid-template-areas:
      "links"
      "socials"
      "contact"
      "logo"
      "copyright"
      "back2top";

    .footer__back2top {
      @include contentAlignmentMixin();
      margin-top: 40px;
    }

    .footer__contact {
      margin: 30px 0;
    }

    .footer__logo {
      transform: translateX(20px);
    }

    .footer__links, .footer__socials {
      a {
        text-align: center !important;
        display: block;
      }
    }
  }

  & > div {
    flex: 1;
  }
}
